@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*,*::after,*::before{margin:0;padding:0;box-sizing: border-box;}
body{font-size:16px;font-family: "Urbanist", sans-serif;font-weight: 400;line-height: 1.2;}
a{display:inline-block;text-decoration: none;}
img{max-width: 100%;height: auto;display:inline-block;}

/* layout */
.container{width: 88%;min-height:100vh;margin: auto;padding-top: 40px;padding-bottom: 40px;}
.parenting-insights{width:100%;display: grid;grid-template-columns:60% 40%;column-gap:20px;}
.parenting-insights__item:nth-child(1){grid-row: 1 / 5; box-shadow:0 0 6px 0 #00000012,0 10px 15px -3px #0000001a;border-radius: 8px;display: flex;flex-direction: column;}

/* parenting-insights elements */
.parenting-insights__item:not(:first-child){display: flex;flex-direction: row;flex-wrap: wrap;padding-top: 16px;padding-bottom: 16px;background-image:  repeating-linear-gradient(0deg, transparent, transparent 11px, transparent 0, transparent 29px, transparent 0), repeating-linear-gradient(90deg, transparent, transparent 11px, transparent 0, transparent 29px, transparent 0), repeating-linear-gradient(180deg, transparent, transparent 11px, transparent 0, transparent 29px, transparent 0), repeating-linear-gradient(270deg, #4b0983, #4b0983 12px, transparent 0, transparent 18px, #4b0983 0);background-position:0 0,0 0,100% 0,0 100%;background-repeat:no-repeat;background-size: 2px 100%, 100% 2px, 2px 100%, 100% 1px;}
.parenting-insights__item:nth-child(2){padding-top:0px;}
.parenting-insights__item:nth-child(5){padding-bottom:0px;background-image: none;}
.parenting-insights__img{width:100%;object-fit:cover;object-position:center;}
.parenting-insights__content{padding:16px;display: flex;flex-direction: column;height: 100%;justify-content: space-between;}
.parenting-insights__title{font-size: 24px;margin-bottom:8px;}
.parenting-insights__description{font-size: 14px;margin-bottom:50px;}
.parenting-insights__icon{vertical-align: middle;margin-right: 5px;}
.parenting-insights__link{text-decoration: none;text-transform: capitalize;font-size: 12px;color:orange;padding-top: 12px;}
.parenting-insights__time{font-size: 12px;color:rgba(0, 0, 0, 0.5);}

/* parenting-insights item's elements */
.parenting-insights__item-view{display: flex;flex-direction: column;justify-content: center;}
.parenting-insights__item-content{padding: 12px;width:calc(100% - 150px);}
.parenting-insights__item-img{height: 110px;border-radius: 8px;object-fit: cover;}
.parenting-insights__item-title{font-size: 18px;margin-bottom: 4px;}
.parenting-insights__item-description{font-size:12px;color:rgba(0, 0, 0, .7);font-weight: 600;}


/* responsive */
@media (max-width:1400px) {
.container{width: 90%;padding-left: 1rem;padding-right: 1rem;}
.parenting-insights__item-title{font-size: 16px;}
}

@media (max-width:1200px) {
 .container{width:95%;}
 
}

@media (max-width:992px) {
  .container{width: 98%;}
  .parenting-insights{grid-template-columns: 50% 50%;}

}
@media (max-width:768px) {
  .container{width: 98%;}
  .parenting-insights{grid-template-columns:1fr;}
  .parenting-insights__item:nth-child(2){padding-top:16px;}
  .parenting-insights__title{font-size: 18px;}
}
