*,*::after,*::before{margin:0;padding: 0;box-sizing: border-box;}
:root {
  --primary-color: #0875bb;
  --secondary-color: #ff5c35;
  --text-color: #485666;
  --text-count: #233d62;
  --primary-padding: 12px 30px;
  --text-base-size: 16px;
  --font-primary: "Poppins", Verdana, sans-serif;
  --border-radius-primary: 25px;
  --primary-line-height: 1.6;
  --secondary-line-height: 1.6;
}

body{color: #000; color: #000;font-family: var(--font-primary);font-size: var(--text-base-size);font-weight:400;line-height: var(--primary-line-height);overflow-x: hidden;}
img{max-width: 100%; height: auto;}
a{display: block;text-decoration: none;}

.main{padding-top:10px;}
.container{margin-left: auto;margin-right:auto;padding-left:1rem;padding-right:1rem;width:100%;}

/* intro */
.introduction{display: grid;align-items:center;justify-content: center;}
.introduction-right__image{grid-row: 1/2;background-image: url(/images/home-bg.webp);background-size: cover;background-position-x: 50%;background-position-y: 50%;width: 90%;margin-left:auto;margin-right: auto;}
.introduction__heading{color: var(--primary-color);font-size: 30px;font-weight: 700;line-height: 1.1;margin-bottom: 18px;}
.introduction__subheading{font-size:20px;font-weight: 700;line-height: 1.2;margin-bottom:10px;}
.swiper{height: 120px;width:100%;}
.swiper-slide p {background-color: var(--secondary-color);color: #fff;display: inline-block;font-size: 20px;font-weight:800;padding: 9px;margin-bottom: 15px;}

/* about */
.about{padding-top: 50px;text-align: left;}
.about__heading{letter-spacing: -1px;font-weight: 600;line-height: 1.2;color: #212121; margin-bottom: 20px;}
.about p{margin-bottom:15px;}

/* 6cards */
.cards-section{padding-top: 50px;}
.cards-section__container{display: grid;grid-template-columns:1fr;grid-template-rows:repeat(6, auto);gap: 30px;margin-left: 20px;margin-right: 20px;}
.cards-section__item{background-color:var(--primary-color);color: #fff;padding: 3rem;display: flex;flex-direction: column;align-items: center;text-align: center;border-radius:15px;position: relative;overflow: hidden;cursor: pointer;}
.cards-section__item-img{margin-bottom: 16px;z-index: 2;}
.cards-section__item-content{position: relative;z-index: 2;}
.cards-section__item-title{font-size: 22px;margin-bottom: 16px;line-height: 1.2;}
.cards-section__item-description{margin-bottom: 15px;line-height:var(--primary-line-height);}
.cards-section__item::after{background:var(--secondary-color);border-radius: 32px;bottom: -16px;content: "";height: 55px;position: absolute;right: -60px;transform: scale(1);transform-origin: 50% 50%;transition: transform .25s ease-out;width: 55px;z-index: 1;}
.cards-section__item:hover::after{transform: scale(21);}


/* our impact */
.our-impact{padding-top: 50px;text-align:center;}
.our-impact__wrapper{display: grid;grid-template-columns:1fr;grid-template-rows: repeat(2,auto);row-gap:20px;}
.our-impact__title{line-height: 1.2;color: #000;font-weight: 400 !important;font-size: 21px;}
.our-impact__title--highlighted{font-weight: 600 !important;color: #01bea5;}
.our-impact__right-box{display:grid;grid-template-columns:1fr;grid-template-rows:repeat(3,auto);}
.our-impact__card h3{font-weight: 700;color: #ff5c35;font-size: 23px;position: relative;margin-left:10px;margin-right:10px; line-height: 1;margin-bottom: 10px;display: inline-block;padding-left: 5px;padding-right: 5px;}
.our-impact__card p{font-weight: 700;letter-spacing: 1px;margin-bottom: 20px;}


/* certification */
.certification-cards{padding-top: 30px;}
.certification-cards__item{height: auto;padding-left: 20px;width: 100%;}
.certification-cards__content img{margin-bottom: 10px;}
.certification-cards__content h4{color: #000;font-size: 22px;font-weight: 600;padding-bottom: 5px;position: relative;}
.certification-cards h4::before{background-color: var(--primary-color);color: var(--primary-color);content: "";height: 100%;left: -15px;position: absolute;top: 0;width: 4px;}
.certification-cards__content p{margin-bottom: 15px;}


/* cta-cards */
.cta-cards__icon{mask-image:url('data:image/svg+xml,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true"><g id="arrow-right1_layer"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></g></svg>');mask-repeat: no-repeat;mask-size: contain;background:orange;mask-position: center;width: 24px;height: 27px;margin-bottom:8px;}
.cta-cards{display:grid;grid-template-columns:1fr;grid-template-rows:repeat(3,auto);row-gap:30px;padding-top:50px;}
.cta-cards__item{box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;display: flex;flex-direction: column;justify-content: space-between;cursor: pointer;transition: .3s;margin-bottom:30px}
.cta-cards__content{padding:20px;}
.cta-cards__title{color: #01bea5;font-size:23px;font-weight: 400;margin-bottom: 15px;line-height: 1.2;}
.cta-cards__description{margin-bottom: 15px;line-height: 1.6;transition: .5s;}
.cta-cards__btn{padding:20px}
.cta-cards__title--purple{color:rgb(107, 119, 208);}

/* hover */
.cta-cards__item:hover{background:rgb(0, 164, 189);}
.cta-cards__item:hover .cta-cards__title, .cta-cards__item:hover .cta-cards__description{color: white;}
.cta-cards__item:hover .cta-cards__icon{background:white;}
.cta-cards__item:nth-child(2):hover{background:rgb(107, 119, 208);}


/* latest news */
.latest-news{padding-top: 50px;}
.latest-news__subtitle{border-radius: 30px;color: #6b77d0;font-size: 16px;font-weight: 600;letter-spacing: 2px;text-align: center;text-transform: uppercase;}
.latest-news h2{color: #ff7959;font-weight: 600;margin: 0;position: relative;text-align: center;}
.latest-news p{margin-bottom: 30px;padding-top: 10px;text-align: center;}








/* responsive */
@media (min-width:576px){
  .container{max-width: 540px;}

  /* 6cards */
  .cards-section__container{grid-template-columns:repeat(2,1fr);grid-template-rows: repeat(3, auto);margin-left:0;margin-right: 0;gap:32px;}

  /* impact */
  .our-impact__right-box{grid-template-columns:repeat(3, 1fr);grid-template-rows: auto;}
}
@media (min-width:768px){
  .container{max-width: 720px;}
  .introduction{grid-template-columns:45.64% 50%;column-gap: 30px;}
  .introduction-right__image{grid-row:unset;}
  .introduction__heading{font-size: 32px;}
  .introduction__subheading{font-size: 28px;margin-bottom: 40px;}
  .introduction-right__image{width:100%;}

  /* about */
  .about__heading{font-size: 34px;margin-bottom: 40px;}
  .about p{margin-bottom:15px;font-size: 18px;}

  /* 6cards */
.cards-section__item-title{font-size: 28px;}
.cards-section__item-description{font-size: 18px;}
.our-impact__card p{font-size:18px}

/* impact */
.our-impact__title{font-size: 38px;}
.our-impact__card h3{font-size: 30px;}


/* certification */
.certification-cards__content p{font-size: 18px;}

/* cta cards */
.cta-cards__title{font-size:24px;}
.cta-cards__description{font-size: 18px;}
.cta-cards{grid-template-columns:repeat(3,calc(33% - 20px));grid-template-rows:auto;column-gap:30px;justify-content: space-between;}
.cta-cards__icon{margin-bottom:10px;}

/* latest news*/
.latest-news__subtitle,.latest-news p{font-size: 18px;}
.latest-news h2{font-size: 34px;}


}
@media (min-width:992px){
  .container{max-width: 960px;}
  .introduction__heading{font-size: 60px;}
  .swiper-slide p {font-size: 28px;}

    /* about */
    .about__heading{font-size: 52px;}

    /* 6cards */
    .cards-section__container{grid-template-columns:repeat(3,1fr);grid-template-rows: repeat(2, auto);}

    /* impact */
.our-impact__wrapper{grid-template-columns:25% calc(75% - 32px);grid-template-rows:auto;align-items: center;justify-content: center;}
.our-impact__title{text-align: left;font-size: 40px;}
.our-impact__card h3{font-size: 50px;}

/* certification */
.certification-cards__list{display: grid;grid-template-columns: repeat(2,calc(50% - 15px));grid-template-rows: auto;column-gap:30px;justify-content: space-between;}

/* cta cards */
.cta-cards__title{font-size:30px;}

/* latest news */
.latest-news h2{font-size: 52px;}


}
@media (min-width:1200px){
  .container{max-width: 1140px;}

}
@media (min-width:1280px){
  .container{max-width: 1200px;}

}





